@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* globals.css или в tailwind config через base */
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
